*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/reports
/test-output
/report.xsl

.idea
*.iml
target
target/classes
target/test-classes
target/generated-sources/
target/generated-test-sources/
.classpath
.project
/bin/*
/bin
/.settings
reports_*.zip
